<main>
    <div class="container body-content">
        <h1>Meet our team</h1>
        <div class="row">
            <div class="col-md-12" th:each="position : ${positions}">

                <h2 th:text="${position.getName() + ' (' + #sets.size(position.getUsers()) + ')'}">
                </h2>

                <div class="col-md-3" th:each="user : ${position.getUsers()}">
                    <h4 th:text="${user.fullName}"></h4>
                    <th:block th:if="${user.imagePath}">
                    <img th:src="@{http://localhost:8080/images/{imagePath}(imagePath=${user.imagePath})}"/>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
</main>