<main>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <span th:text="${user.email}"></span>
                    <br/>
                    <span th:text="${user.fullName}"></span>

                    <header>
                        <h2>
                            <a th:href="@{/{id}/articles(id=${user.id})}"
                               th:text="${'My articles (' + #sets.size(user.getArticles()) + ')'}">
                            </a>
                        </h2>
                    </header>



                </div>
            </div>
        </div>
    </div>
</main>