<main>
    <div class="alert alert-danger" th:if="${error}">
        <strong th:text="${error}"></strong>
    </div>
    <div class="container body-container">
        <div class="row">
            <div id="main" class="col-sm-9">
                <div>
                    <header>
                        <b>
                            <h3><i>Email: </i>
                                <th:block th:text="${user.email}"></th:block>
                            </h3>
                        </b>
                    </header>
                    <header>
                        <b>
                            <h3><i>Full Name: </i>
                                <th:block th:text="${user.fullName}"></th:block>
                            </h3>
                        </b>
                    </header>
                    <th:block th:if="${user.imagePath}">
                        <img th:src="@{http://localhost:8080/images/{imagePath}(imagePath=${user.imagePath})}" height="400" width="400"/>
                    </th:block>

                    <header>
                        <h2>
                            <a th:href="@{/{id}/articles(id=${user.id})}"
                               th:text="${'User articles (' + #sets.size(user.getArticles()) + ')'}">
                            </a>
                        </h2>
                    </header>

                    <header>
                        <h2>
                            <a th:href="@{/{id}/videos(id=${user.id})}"
                               th:text="${'User videos (' + #sets.size(user.getAuthorVideos()) + ')'}">
                            </a>
                        </h2>
                    </header>

                </div>
            </div>
        </div>
    </div>
</main>