<main>
    <div class="alert alert-danger" th:if="${error}">
        <strong th:text="${error}"></strong>
    </div>
    <div class="container body-content span=8 offset=2">
        <div class="well">
            <form class="form-horizontal" th:action="@{/video/create}" method="POST">
                <fieldset>
                    <legend>New Video</legend>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="video_title">Video Title</label>
                        <div class="col-sm-4 ">
                            <input type="text" class="form-control" id="video_title" placeholder="Video Title"
                                   name="title"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="video_url">Youtube URL</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="video_url" placeholder="Youtube URL"
                                   name="fullUrl"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="video_article">Article</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="video_article" name="articleId">
                                <option th:each="article : ${articles}" th:value="${article.id}" th:text="${article.title}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="video_cameraman">Cameraman</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="video_cameraman" name="cameramanId">
                                <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.fullName}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" th:href="@{/}">Cancel</a>
                            <input type="submit" class="btn btn-primary" value="Submit"/>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</main>
